    body {
    margin: auto;
    background-image: url(download.jpg);
    }

    .titulo {
    background: black;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 20px;
    border-radius: 20px;
    }
    .h1 {
    text-align: center;
    color: rgb(222, 185, 93);
    }
    .box-logo {
    margin: auto;
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
    box-sizing: border-box;
    }
    .logo {
    width: 500px;
    height: 500px;
    border-radius: 500px;
    }
    .box-p {
    font-size: 20px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    }
    .parrafo {
    margin: 10px;
    color: black;
    }
    .parrafo2 { 
    margin: 10px;
    color: black;
    }

    .boxh4 {
    margin: 0;
    text-align: center;
    }
    .h4{
    margin: 10px;
    text-decoration: underline;
    letter-spacing: 2px;
    }

    .productos {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
    gap: 1emp;
    margin-left: 400px;
    margin-bottom: 20px;
    justify-content: center;
    }

    .producto {
    flex: 1 1 300px
    box-size: border-box;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    width: 200px;
    }

    .producto:hover {
    transform: scale(1.02);
    }

    .producto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    }

    .producto h3 {
    margin: 10px 0 5px;
    }

    .producto p {
    color: #666;
    }


    .button {
    border-radius: 10px;
    background: black;
    width: 200px;
    }
    .button:hover {
    transform: scale(1.02);
    }
    .link-button {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    }
    .y {
    margin: 10px;
    }

    .uu {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    }
    .u {
    text-decoration: none;
    color: blue;
    }

    .box3 {
    border: 2px solid black;
    width: 650px;
    height: 80px;
    border-radius: 10px;
    }

    /* Botón flotante de WhatsApp */
    .whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    }

    .whatsapp-float:hover {
    background-color: #128c7e;
    transform: scale(1.07);
    }

    .whatsapp-float img {
    width: 35px;
    height: 35px;
    }


